* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: white;
    padding: 1rem 0;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-info a {
    color: black;
    text-decoration: none;
}

.social-media {
    display: flex;
    gap: 2.5rem;
}

.social-media a {
    display: inline-block;
}

.icon {
    width: 20px;
    height: 20px;
}

header {
    background-color: white;
    color: black;
    padding: 0.7rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

header .logo {
    width: 250px; /* Adjust the width as necessary */
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

header nav ul li a.active {
    color: red;
}

header nav ul li a:hover {
    background-color: #f0f0f0;
}

.hero {
    background-color: #f4f4f4;
    padding: 2rem 0;
    text-align: center;
}

.hero h2 {
    margin-bottom: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.about {
    padding: 2rem 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
